

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color: white;
    --search:#dee9f3;
}
.grid{
    width: 1250px;
    max-width: 100%;
    margin: 0 auto;
}
.header{
    background-color: var(--color);
    width: 100%;
    height: 100px;
}
.head{
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
    align-items: center;
}

.head a{
    text-decoration: none;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.head-icon img{
    height: 40px;
    width: 100px;
}
.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}
.nav-item img{
    width: 40px;
    margin: 10px;

}
.nav-item a{
    display: flex;
    color: black;
}
.nav-item{
    width: 115px;
}
.head-search{
    width: 410px;
}
.search-input{
    border-radius: 30px;
    width: 350px;
    height: 50px;
    background-color: var(--search);
    border: none;
    z-index: 10;
}
.head-search i{
    position: relative;
    text-align: center;
    cursor: pointer;
    height: 50px;
    top: 0px;
    left: -55px;
    padding: 15px 15px;
    border-left: 2px var(--search) solid;
}
.search-input:focus{
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: 2px var(--search) solid;
}  