

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color: white;
    --search:#dee9f3;
    --blue:#2979ff;
}
.grid{
    width: 1250px;
    max-width: 100%;
    margin: 0 auto;
}
.header{
    background-color: var(--color);
    width: 100%;
    height: 50px;
}
.head{
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
    align-items: center;
    
}

.head a{
    text-decoration: none;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    width: 632px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.head-icon img{
    height: 40px;
    width: 100px;
}
.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}
.nav-item img{
    width: 40px;
    margin: 10px;

}
.nav-item a{
    display: flex;
    color: black;
}
.nav-item{
    width: 115px;
}
.head-search{
    width: 410px;
}
.search-input{
    border-radius: 30px;
    width: 350px;
    height: 50px;
    background-color: var(--search);
    font-size: 18px;
    border: none;
    z-index: 10;
    padding: 12px 12px;
}
.head-search i{
    position: relative;
    text-align: center;
    cursor: pointer;
    height: 50px;
    top: -5px;
    left: -54px;
    padding: 13px 15px;
}
.find{
    margin-left: 3px;
    height: 20px;
}
.search-input:focus{
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: 2px var(--search) solid;
} 
.search-input:focus ~ .find{
    color: var(--color);
    background-color: #2979ff;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.search-input::placeholder{
    font-weight: 600;
    font-size: 18px;
}

.head-shopping{
    width: 50px;
    height: 50px;
    font-size: 40px;
    color: var(--search);
    position: relative;
    top: 20px;
}
.head-avatar{
    width: 60px;
}
.head-avatar img{
    cursor: pointer;
    border-radius: 50%;
}
.head-login_conten {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border: 2px var(--blue) solid;
    border-radius: 40px;
    width: 150px;
    height: 50px;
}
.head-support{
    width: 100px;
}
.head-discover_img img{
    width: 50px;
    height: 50px;
}
.head-discover{
    margin: 12px 0;
}
.head-discover_conten{
    position: relative;
    top: 27px;
}
.head-discover p{
    width: 90px;
    height: 47px;
}
